:root {
  --main-font-family: "Chilanka", cursive;
  --secondary-font-family: "Luckiest Guy", cursive;

  --primary-blue: #31c4ff;
  --color-white: white;
  --color-blue-50: #12b6e3a6;
  --color-blue-200: #00799c;
  --color-blue-300: #014a60;
  --color-black-50: rgba(0, 0, 0, 0.5);
}
