@import "styles/mixins.scss";

.container {
  display: grid;
  // grid-template-columns: minmax(0, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  gap: 1.5rem;
  overflow-y: scroll;
  max-height: 25rem;

  @include respond(tab-port) {
    overflow-y: visible;
    max-height: auto;
  }
}

.heading {
  font-family: var(--secondary-font-family);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;

  @include respond(phone) {
    font-size: 2.5rem;
    text-align: left;
  }
}

.lessons-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 20rem;
  // grid-column: 2/-1;
  // grid-row: 1/-1;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2.5rem;

  @include respond(tab-port) {
    justify-content: space-between;
    flex-direction: row;
    grid-row: span 2;
    grid-column: span 2;
  }
}
