.content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 320px));
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
