@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/_variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Chilanka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chilanka&family=Luckiest+Guy&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  line-height: normal;
}

ul {
  list-style: none;
}

body {
  font-family: var(--main-font-family);
}

input,
select {
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
}

img {
  max-width: 100%;

  /* For dark mode */
  filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

.fix-icon svg {
  transform: translateY(-3px);
}

.rotate-orgin {
  transform: translate(-50%, -50%) rotateY(0);
}

.rotate-reverse {
  transform: translate(-50%, -50%) rotateY(180deg);
}

.move-down {
  transform: translateY(0);
}

.show {
  z-index: 1;
  opacity: 1;
}

.show-modal {
  visibility: visible;
}
